{% extends 'ITBANK/base.html' %}
<title>{% block title %}Prestamos{% endblock %}| ITBANK</title>

{% block styleFiles %}
{%load static %}
<link rel="stylesheet" href="{% static 'ITBANK/style/prestamos.css' %}" />
{% endblock %}

{% block content %}
<!-- --------------------------------- -->
<!-- --------------BODY--------------- -->
<!-- --------------------------------- -->
<main class="hero section-container">
    <div class="hero-background section-background">
        <div class="hero-text hero-item">
            <h1>Conseguí eso que tanto deseas</h1>
            <div class="hero-text-paragraph">
                <p>Sacá el monto y tiempo de devolución que mejor se adapte a vos.</p>
                <p>Que el dinero no sea un problema.</p>
            </div>
            <button class="hero-text-button">Quiero un préstamo</button>
        </div>
        <div class="hero-image hero-item"></div>
    </div>
</main>

<!-- PRESTAMOS -->
<div class="loans section-container">
    <div class="loans-background section-background">
        <h2>Mis préstamos</h2>
        <div class="loans-list">
            <p>Aún no tiene ningún prestamo</p>
        </div>
    </div>
</div>

<!-- NUEVO PRESTAMO -->
<div class="new-loan section-container" id="formulario-prestamo">
    <div class="new-loan-background section-background">
        <div class="new-loan-heading">
            <h2>Pedir un préstamo</h2>
            <p>Completá el formulario para solicitar un nuevo préstamo</p>
        </div>
        
        <form class="new-loan-form" action="/prestamos/#formulario-prestamo" method="POST"> {% csrf_token %}   
            <!-- <div class="input-money-amount new-loan-form--item">
                <label for="money">Cantidad de dinero (pesos):</label>
                <input id="input-number" class="input-number money-input" placeholder="ARS" id="money" type="number" name="amount-money-loan" />
            </div>
            <div class="input-time new-loan-form--item">
                <label for="months">Plazo a devolver en meses: </label>
                <input id="input-number" class="input-number time-input" id="months" placeholder="Meses"
                    type="number" name="amount-time-loan"/>
            </div>
            <div class="input-salary new-loan-form--item">
                <label for="input-file">Cargue su recibo de sueldo:</label>
                <input type="file" id="input-file" class="input-file-salary" name="user-salary-loan" />
            </div>
            <div class="input-terms new-loan-form--item">
                <input type="checkbox" id="terms" name="connected" class="form-check-input" name="loan-terms-conditions"/>
                <label for="terms" class="form-check.label">Acepto los</label>
                <a href="/terminos.html">Términos y condiciones</a>
            </div> -->
            <table>
                {{form.as_p}}
            </table>
            <div class="input-submit">
                <input class="input-submit-button" type="submit" value="Enviar solicitud">
                <!-- <button class="input-submit-button">Enviar solicitud</button> -->
            </div>
        </form>
        {% if 'ok' in request.GET %}
        <p class="text-success mt-3"><b>Se ha cargado la solicitud de prestamo. En caso de ser aprobado, lo contactaremos via mail</b></p>
        {% endif %}
        {% if 'amounterror' in request.GET %}
        <p  class="text-danger mt-3">
            <b>
                El monto de dinero ingresado es mayor al que puede solicitar.
            </b>
        </p>
        <p class="text-danger">
            Mejore su tipo de cliente para poder solicitar prestamos de mayor cantidad
        </p>
        <p class="text-danger">
            (Tipo de cliente que posee: {{client_type}})
        </p>
        {% endif %}
        {% if 'errorblack' in request.GET %}
        <p class="text-danger mt-3">
            <b>
                El monto de dinero ingresado es mayor al que puede solicitar.
            </b>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}